repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.1
    hooks:
      - id: mypy
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/bandit
    rev: '1.9.2'
    hooks:
    - id: bandit
      args: ["-r", "fromfolio/", "--config", "pyproject.toml"]
      pass_filenames: false
  - repo: local
    hooks:
      - id: docs
        name: docs
        entry: make docs-build
        language: system
        pass_filenames: false
      - id: test
        name: test
        entry: make test
        language: system
        pass_filenames: false
