<div class="container">
  <div class="row">
    <div class="col-md-2">
      <a href="{{ url_for('admin:list', identity=model_view.identity) }}" class="btn">
        Cancel
      </a>
    </div>
    <div class="col-md-6">
      <div class="btn-group flex-wrap" data-toggle="buttons">
        <input type="submit" name="save" value="Save" class="btn">
        <input type="submit" name="save" value="Save and continue editing" class="btn">
        <input type="submit" name="save" value="Save and add another" class="btn">
      </div>
    </div>
  </div>
</div>