{% extends "base.html" %}
{% block body %}
<div class="wrapper">
  <aside class="navbar navbar-vertical navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <h1 class="navbar-brand navbar-brand-autodark">
        <a href="{{ url_for('admin:index') }}">
        {% if admin.logo_url %}
        <img src="{{ admin.logo_url }}" width="64" height="64" alt="Admin" class="navbar-brand-image"/>
        {% else %}
        <h3>{{ admin.title }}</h3>
        {% endif %}
        </a>
      </h1>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav pt-lg-3">
          {% for view in admin.views %}
          {% if view.is_visible(request) and view.is_accessible(request) %}
          <li class="nav-item">
            {% if view.is_model %}
            <a class="nav-link {% if view.identity == request.path_params['identity'] %}active{% endif %}" href="{{ url_for('admin:list', identity=view.identity) }}">
            {% else %}
            <a class="nav-link {% if view.identity == request.path_params['identity'] %}active{% endif %}" href="{{ url_for('admin:%s' | format(view.identity)) }}">
            {% endif %}
            <span class="nav-link-icon d-md-none d-lg-inline-block">
            {% if view.icon %} <i class="{{ view.icon }}"></i> {% endif %}
            </span>
            <span class="nav-link-title">{{ view.name_plural or view.name }}</span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% if admin.authentication_backend %}
      <a href="{{ request.url_for('admin:logout') }}" class="btn btn-secondary btn-icon">
        <i class="fa fa-sign-out"></i>
        <span>Logout</span>
      </a>
      {% endif %}
    </div>
  </aside>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="page-header d-print-none">
        {% block content_header %}
        <div class="row align-items-center">
          <div class="col">
            <h2 class="page-title">{{ title }}</h2>
            <div class="page-pretitle">{{ subtitle }}</div>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <div class="page-body flex-grow-1">
      <div class="container-fluid">
        <div class="row row-deck row-cards">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
