{% extends "sqladmin/layout.html" %}
{% from 'sqladmin/_macros.html' import render_form_fields %}
{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ _("New %(name)s", name=model_view.name) }}</h3>
    </div>
    <div class="card-body border-bottom py-3">
      {% block create_form %}
      <form action="{{ url_for('admin:create', identity=model_view.identity) }}" method="POST"
        enctype="multipart/form-data">
        <div class="row">
          {% if error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endif %}
        </div>
        <fieldset class="form-fieldset">
          {{ render_form_fields(form, form_opts=form_opts, ajax_lookup_url=url_for('admin:ajax_lookup', identity=model_view.identity)) }}
        </fieldset>
        <div class="row">
          <div class="col-md-2">
            <a href="{{ url_for('admin:list', identity=model_view.identity) }}" class="btn">
              {{ _("Cancel") }}
            </a>
          </div>
          <div class="col-md-6">
            <div class="btn-group flex-wrap">
              {% block submit_buttons_bottom  %}
                <input type="submit" name="save" value="{{ _('Save') }}" class="btn">
                {% if model_view.can_edit %}
                <input type="submit" name="save" value="{{ _('Save and continue editing') }}" class="btn">
                {% endif %}
                <input type="submit" name="save" value="{{ _('Save and add another') }}" class="btn">
              {% endblock %}
            </div>
          </div>
        </div>
      </form>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block head_css %}
{{ super() }}
{% if form is defined %}
  {% set form_media = collect_form_media(form) %}
  {% for url in form_media.css %}
  <link rel="stylesheet" href="{{ url }}">
  {% endfor %}
{% endif %}
{% endblock %}

{% block tail %}
{{ super() }}
{% if form is defined %}
  {% set form_media = collect_form_media(form) %}
  {% for url in form_media.js %}
  <script src="{{ url }}"></script>
  {% endfor %}
  {% for field in form if field.editor_init_template is defined %}
    {% with field = field %}
      {% include field.editor_init_template %}
    {% endwith %}
  {% endfor %}
{% endif %}
{% endblock %}