{% with secret = Secret.get(request) %}
{% if secret %}
<button type="button" id="modal-secret-trigger" class="d-none"
  data-bs-toggle="modal" data-bs-target="#modal-secret"></button>
<div class="modal modal-blur fade" id="modal-secret" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-next-url="{{ secret_next_url|default('', true) }}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
      <div class="modal-status bg-success"></div>
      <div class="modal-body text-center py-4">
        <i class="text-success fa-solid fa-key fa-2x"></i>
        <h3>{{ secret.title }}</h3>
        <div class="text-muted">{{ secret.label }}</div>
        <div class="input-group mt-3">
          <input type="text" class="form-control" value="{{ secret.value }}" readonly id="modal-secret-value">
          <button class="btn btn-outline-secondary" type="button" id="modal-secret-copy">
            Copy
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">{{ _("Done") }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
